<h2>Edit Cashier</h2>
  
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: false, hint: "Leave it blank if you don't want to change it" %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Cashier" %>
  </div>
<% end %>