<h1>Cashiers List</h1>
<%= button_to 'Add Cashier', new_user_path, method: :get, class: 'btn btn-success btn-lg' %>
<br><br>

<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
	<% @users.each do |user| %>
		<% if user.status? %> 
		<tr>
		<% else %>
		<tr class="active">
		<% end %>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<% if user.status? %>
                <td>Active</td>
            <% else %>
                <td>Inactive</td>
            <% end %>
      <td><%= user.admin.email %></td>
			<td><%= button_to 'Show', user_path(user), method: :get, class: 'btn btn-default btn-xs' %>
			<td><%= button_to 'Edit', edit_user_path(user), method: :get, class: 'btn btn-default btn-xs' %>
			<% if user.status? %>
			  <td><%= button_to 'Deactivate', deactivate_user_path(user), method: :post, data: {confirm: "Deactivate cashier \"" + user.name + "\"?"}, class: 'btn btn-danger btn-xs' %>
		  <% else %>
		     <td><%= button_to 'Activate', activate_user_path(user), method: :post, data: {confirm: "Activate cashier \"" + user.name + "\"?"}, class: 'btn btn-primary btn-xs' %>
		  <% end %>
		</tr>
	<%end %>
    </tbody>
  </table>
</div>