<%= simple_form_for @product do |f| %>
	<p>
		<%= f.input :name %>
	</p>
	<p>
		<%= f.input :price %>
	</p>
	<p>
		<%= f.input :status, collection: [[true, 'Active'], [false, 'Inactive']], label_method: :last, value_method: :first, as: :select, include_blank: false %>
	</p>
	<p>
		<%= f.button :submit %>
	</p>
<% end %>